.nav{
    height: 10rem;
    background-color: sandybrown;
    position: relative;
    

    &__logo-box{
        position: absolute;
        top: .5rem;
        left: 2rem;        
    }

    &__logo{
        height: 6rem;
    }

    &__mid{
        display: inline-block;
        position: absolute;
        top: 3rem;
        left: 75rem;
        margin-right: 15rem;
    }

    &__right{
        display: inline-block;
    }
}
.home{
    display: inline-block;
}
.alumnus{
    display: inline-block;
}
.AboutUs{
    display: inline-block;
}
.ContactUs{
    display: inline-block;
}